[submodule "server_utils"]
	path = server_utils
	url = git@github.com:TeamCodeStream/server_utils.git
[submodule "codestream-configs"]
	path = codestream-configs
	url = git@github.com:teamcodestream/codestream-configs.git
