
#desc# outbound email playground

#playgroundName# mailout
#sandboxTypes# cs_mailout
#sandboxes# {{SBNAME_cs_mailout}}
#environment# local

dt_load {{SBNAME_cs_mailout}}
if [ "$1" == start ]; then
	cs_mailout-service start
elif [ "$1" == stop ]; then
	cs_mailout-service stop
fi
cd $CS_OUTBOUND_EMAIL_TOP

# uncomment these if you use iterm2 and want to colorize your tabs
# . $DT_TOP/lib/iterm2-utils.sh
# it2_tab_rgb `basename ${BASH_SOURCE[0]}` 200 88 45
