html,
body {
  background-color: #2d323b;
}

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}
a {
  color: #0098f2;
}

#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.headshot-image {
  border-radius: 0.25rem;
  height: 36px;
  margin-right: 1rem;
  width: 36px;
}

.posted-on {
  margin-bottom: 0.125rem;
}

.author {
  display: inline-block;
  margin-right: 0.5rem;
}

.time {
  display: inline-block;
  opacity: 0.4;
  font-size: 0.85rem;
}

.root-inner {
  min-height: 100%;
  height: 100%;
}
.logo-wrapper {
  width: 215px;
  margin: 20px;
}
.logo {
  width: 215px;
}
.box {
  margin-top: -160px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 100%;
  height: 100%;
}
.error {
  color: rgb(255, 99, 71);
  padding: 5px 0 5px 0;
}
.box-content {
  max-width: 750px;
  width: 100%;
  box-sizing: border-box;
  margin: 0px auto;
  background: rgb(45, 50, 59);
  padding: 2rem;
  font: 1rem "Helvetica Neue", arial, sans-serif;
  color: rgb(137, 143, 158);
}
.box-content-sm {
  max-width: 450px;
}
.box-border {
  margin-top: 1rem;
  padding: 2rem;
  border: 1px solid black;
}
.box-border-sm {
  margin-top: 0.75rem;
  padding: 0.75rem;
}
h1 {
  text-align: center;
  margin-top: 0px;
  color: rgb(220, 223, 228);
  font: bold 24px "Helvetica Neue", arial, sans-serif;
}
h3 {
  text-align: center;
}
.content {
  margin-top: -160px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 100%;
  height: 100%;
}

.label {
  color: rgb(154, 161, 179);
  font: 14px "Helvetica Neue", arial, sans-serif;
}
.hint {
  color: rgb(92, 97, 109);
  min-height: 21px;
  box-sizing: border-box;
  margin: 0px;
  padding: 5px 0px;
  font: 0.7rem Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

.btn {
  cursor: pointer;
  color: white;
  background-color: rgb(76, 114, 202);
  width: 100%;
  padding: 1rem;
  font: 1rem "Helvetica Neue", arial, sans-serif;
  border: 1px solid black;
}
.btn-sm {
  padding: 0.5rem;
  flex: 0 1 auto;
  width: auto;
}

.btn-list {
  display: flex;
  align-items: center;
  justify-content: left;
}
.btn-list .btn {
  width:initial;
}
.btn-list .btn.btn-sm {
  margin-right:.1rem;
}

.btn-group {
  padding-top: 10px;
  box-sizing: border-box;
}
.form-wrapper {
  max-width: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.form-wrapper div {
  flex: 0 0 auto;
}

.form-group {
  padding-top: 10px;
  box-sizing: border-box;
}
.form-wrapper div {
  flex: 0 0 auto;
}

.form-control {
  margin-top: 5px;
  color: rgb(172, 177, 184);
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(33, 37, 44);
  padding: 12px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(33, 37, 44);
  font: 0.8rem Menlo, Consolas, "DejaVu Sans Mono", monospace;
}
.text-centered {
  text-align: center;
}
.mention {
  color: rgb(76, 114, 202);
  font-weight: 700;
}

.code {
  background: #1e1e1e;
  padding:5px;
}
hr {
  border-color:#3c424e;
}

/* Pretty printing styles. Used with prettify.js. */
/* Visual Studio Code - Monaco theme by Alex Rodin, based on Vim sunburst theme by David Leibovic */
pre.prettyprint {
  border: 0px !important;
}

pre .com,
code .com {
  color: rgba(96, 139, 78, 1);
}

/* comment */
pre .str,
code .str {
  color: rgba(206, 145, 120, 1);
}

/* string */
pre .atv,
code .atv {
  color: rgba(206, 145, 120, 1);
}

/* html/xml attribute value */
pre .kwd,
code .kwd {
  color: rgba(197, 134, 192, 1);
}

/* keyword */
pre .typ,
code .typ {
  color: rgba(156, 220, 254, 1);
}

/* type */
pre .tag,
code .tag {
  color: rgba(78, 201, 176, 1);
}

/* html/xml tag */
pre .atn,
code .atn {
  color: rgba(156, 220, 254, 1);
}

/* html/xml attribute name*/
pre .pun,
code .pun {
  color: rgba(212, 212, 212, 1);
}

/* punctuation*/
pre .pln,
code .pln {
  color: rgba(220, 220, 170, 1);
}

/* plaintext*/
pre .lit,
code .lit {
  color: rgba(181, 206, 168, 1);
}

/* literal */
pre .dec,
code .dec {
  color: rgba(181, 206, 168, 1);
}

/* decimal*/

pre.prettyprint,
code.prettyprint {
  border: 0;
  border-radius: 3px;
  color: #bbb;
  background-color: #1e1e1e;
  width: 95%;
}

pre.prettyprint {
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
  font-family: Consolas, "Courier New", monospace;
  font-size: 14px;
  line-height: 19px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #5a5a5a;
}

/* IE indents via margin-left */
pre.prettyprint li {
  padding-left: 5px;
}

li.L0,
li.L1,
li.L2,
li.L4,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  background: none !important;
  list-style-type: inherit !important;
}

@media print {

  pre .str,
  code .str {
    color: #060;
  }

  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }

  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }

  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }

  pre .lit,
  code .lit {
    color: #044;
  }

  pre .pun,
  code .pun {
    color: #440;
  }

  pre .pln,
  code .pln {
    color: #000;
  }

  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }

  pre .atn,
  code .atn {
    color: #404;
  }

  pre .atv,
  code .atv {
    color: #060;
  }
}