html,
body,
#root { 
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", ans-serif;
  font-size: 0.94rem;
  background-color: #1E1E1E !important;
  color: rgb(220, 223, 228);
}
a,
a:hover,
a:visited,
a:active {
  color: #009aef;
}
#root {
  margin-top:60px;
}
.container-fluid .row {
  margin-left: 0;
  margin-right: 0;
}
.row-header {
  margin-top:5px;
}
h6 {
  font-weight: 700;
  font-size: .75em;
  padding:0 !important;
  margin:0 !important;
}
.flex {
  display: flex;
}
.headshot {
  position:relative; 
  width:30px;
}
.assignee-wrapper{
  margin-bottom:3px;
}
.headshot-image {
  border-radius: 0.25rem;
  height: 20px;
  margin-right: .5rem;
  width: 20px;
}
.headshot-initials {
  background: #678; 
  border-radius:3px; 
  color: #1E1E1E !important; 
  height: 20px;
  position: absolute;   
  text-align: center;
  text-transform: capitalize;
  width: 20px;
  z-index: 1;  
}
.headshot-initials-inline {
  background: #678; 
  border-radius:3px; 
  color: #1E1E1E !important; 
  display:inline-block;
  height: 20px;     
  text-align: center;
  text-transform: capitalize;
  width: 20px; 
}
.icon svg {
  fill:rgb(137, 143, 158);
}

.posted-on {
  margin-bottom: 0.125rem;
}

.author {
  display: inline-block;
  margin-right: 0.35rem;
  color:#c7c7c6;
  font-weight:700;
}

.time {
  display: inline-block;
  opacity: 0.6;
  font-size: 0.85rem;
}

.logo {
  width: 200px;
  height:30px;
  margin:5px;
}

.box {
  margin-top:50px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 100%;
  height: 100%;
}
.error {
  color: rgb(255, 99, 71);
  padding: 5px 0 5px 0;
}
.box-content,
.box-content-transparent {
  max-width: 750px;
  width: 100%;
  box-sizing: border-box;
  margin: 0px auto;
  padding: 2rem;
  color: rgb(137, 143, 158);
}
.box-content {
  background-color: #282828 !important;
}
.box-content-sm {
  max-width: 450px;
}
.box-border {
  margin-top: 1rem;
  padding: 1.5rem;
  border: 1px solid #383838;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}
.box-border-sm {
  margin-top: 0.75rem;
  padding: 0.75rem;
}
h1 {
  text-align: center;
  color: rgb(220, 223, 228);
  font-weight:bold;
  font-size:1.35rem;
  padding-bottom:0.5rem;
}
h3 {
  text-align: center;
}
.label.label-square {
  min-width:20px; 
  min-height:20px;
  color:#dfdfdf;
  display: inline-block;
  padding: .4em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label-empty {
  width:20px;
}
.hint {
  color: rgb(92, 97, 109);
  min-height: 21px;
  box-sizing: border-box;
  margin: 0px;
  padding: 5px 0px;
  font: 0.85rem Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

.btn {
  cursor: pointer;
  color: white;
  background-color: #007BCB;
  width: 100%;
  padding: .5rem;
  /* font: 1rem "Helvetica Neue", arial, sans-serif; */
  border: 1px solid black;
}
.btn:hover {
   color: white;
   background-color: #009aef;
}
.btn-sm {
  padding: 0.35rem;
  flex: 0 1 auto;
  width: auto;
}

input.bg-dark:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #1E1E1E inset; /* Change the color to your own background color */
    -webkit-text-fill-color: rgb(220, 223, 228);
}

input.bg-dark:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #1E1E1E inset;/*your box-shadow*/
    -webkit-text-fill-color: rgb(220, 223, 228);
} 

.bg-dark, .form-control:focus {
  background:#1E1E1E;
  color:rgb(220, 223, 228);
}
input.bg-dark:-webkit-autofill,
input.bg-dark:-internal-autofill-selected {
    background-color: #1E1E1E !important;
    color:rgb(220, 223, 228);
}

.btn-group {
  padding-top: 10px;
  box-sizing: border-box;
}
.form-wrapper {
  max-width: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.form-wrapper div {
  flex: 0 0 auto;
}

/* .form-group {
  padding-top: 10px;
  box-sizing: border-box;
} */
.form-wrapper div {
  flex: 0 0 auto;
}

.mention {
  color: rgb(76, 114, 202);
  font-weight: 700;
}
.file {
  white-space: nowrap;    
  overflow: hidden;   
  text-overflow: ellipsis;
  padding-top:5px;
}
.description {
  color:#c7c7c6;
}
.title {
  padding-top:5px;
  color:#c7c7c6;
}


.code {
  background: #1e1e1e;
  padding:5px;
  border: 1px solid #383838;
}
hr {
  border-color:#3c424e;
}
.ide-list:hover {
  border:1px solid #464545;
  background: transparent;
}
.ide-list {
  border:1px solid #383838;
  padding-top:0px !important;
  vertical-align: top;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dropdown-menu a {
  color: #c7c7c6;
}
.monospace {
      font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
      font-size:.85em;
}
.ide-list a:hover,
.dropdown-menu a:hover {
text-decoration: none;
}
.label-for-btn {
  display: inline-block;
  line-height: 1.4em;
  margin-top: 8px;
}
.ide-list .dropdown-toggle-split {
    padding-top: .5rem;
    padding-left: .4rem;
  border-left:1px solid #383838;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.dropdown-menu {
  background:#2C2C2C;
    border: 1px solid #383838;
}
.alert {
  border-radius: 0;
  color:#333;
}
.alert a {
  color:#333;
  font-weight: bold;
  text-decoration: underline;
}
#alert-wrapper {
  height:41px;
  display: block;
}
.dropdown-divider  {
  border-top: 1px solid #383838;
}
a.dropdown-item:hover {
  color:#c7c7c6;
  background:#0087D7;
}
.navbar-toggler {
  border:0;
}
.navbar-dark.bg-dark {
  background: #1E1E1E !important;
}
.form-control {
  border: 1px solid #383838 !important;
}


/* Pretty printing styles. Used with prettify.js. */
/* Visual Studio Code - Monaco theme by Alex Rodin, based on Vim sunburst theme by David Leibovic */
pre.prettyprint {
  border: 0px !important;
}

pre .com,
code .com {
  color: rgba(96, 139, 78, 1);
}

/* comment */
pre .str,
code .str {
  color: rgba(206, 145, 120, 1);
}

/* string */
pre .atv,
code .atv {
  color: rgba(206, 145, 120, 1);
}

/* html/xml attribute value */
pre .kwd,
code .kwd {
  color: rgba(197, 134, 192, 1);
}

/* keyword */
pre .typ,
code .typ {
  color: rgba(156, 220, 254, 1);
}

/* type */
pre .tag,
code .tag {
  color: rgba(78, 201, 176, 1);
}

/* html/xml tag */
pre .atn,
code .atn {
  color: rgba(156, 220, 254, 1);
}

/* html/xml attribute name*/
pre .pun,
code .pun {
  color: rgba(212, 212, 212, 1);
}

/* punctuation*/
pre .pln,
code .pln {
  color: rgba(220, 220, 170, 1);
}

/* plaintext*/
pre .lit,
code .lit {
  color: rgba(181, 206, 168, 1);
}

/* literal */
pre .dec,
code .dec {
  color: rgba(181, 206, 168, 1);
}

/* decimal*/

pre.prettyprint,
code.prettyprint {
  border: 0;
  border-radius: 3px;
  color: #bbb;
  background-color: #1e1e1e;
  width: 95%;
}

pre.prettyprint {
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
  font-family: Consolas, "Courier New", monospace;
  font-size: 14px;
  line-height: 19px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #5a5a5a;
}

/* IE indents via margin-left */
pre.prettyprint li {
  padding-left: 5px;
}

li.L0,
li.L1,
li.L2,
li.L4,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  background: none !important;
  list-style-type: inherit !important;
}

@media print {

  pre .str,
  code .str {
    color: #060;
  }

  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }

  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }

  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }

  pre .lit,
  code .lit {
    color: #044;
  }

  pre .pun,
  code .pun {
    color: #440;
  }

  pre .pln,
  code .pln {
    color: #000;
  }

  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }

  pre .atn,
  code .atn {
    color: #404;
  }

  pre .atv,
  code .atv {
    color: #060;
  }
}