html,
body,
#root {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI',
		'Ubuntu', 'Droid Sans', ans-serif;
	font-size: 0.94rem;
	background-color: #1e1e1e !important;
	color: rgb(220, 223, 228);
}
a,
a:hover,
a:visited,
a:active {
	color: #009aef;
}
p {
	margin-bottom: 0.5rem !important;
}
#root {
	margin-top: 0px;
}
.container-fluid .row {
	margin-left: 0;
	margin-right: 0;
}
.row-header {
	margin-top: 5px;
}
.col-fluid {
	margin-left:0px; 
	padding-left:0px;
	margin-right:0px;
	padding-right:0px;
}
h6 {
	font-weight: 700;
	font-size: 0.75em;
	padding: 0 !important;
	margin: 0 !important;
}
.flex {
	display: flex;
}
.headshot {
	position: relative;
	width: 25px;
}
.assignee-wrapper {
	margin-bottom: 3px;
}
.headshot-image {
	border-radius: 0.25rem;
	height: 20px;
	margin-right: 0.5rem;
	width: 20px;
}
.headshot-initials {
	background: #678;
	border-radius: 3px;
	color: #1e1e1e !important;
	height: 20px;
	position: absolute;
	text-align: center;
	text-transform: capitalize;
	width: 20px;
	z-index: 1;
}
.headshot-initials-inline {
	background: #678;
	border-radius: 3px;
	color: #1e1e1e !important;
	display: inline-block;
	height: 20px;
	text-align: center;
	text-transform: capitalize;
	width: 20px;
}
.icon {
	margin-right: 2px;
}
.icon svg {
	fill: rgb(137, 143, 158);
}
.icon-large {
	display: inline-block;
	transform: scale(1.25)
}

.octicon {
	fill: rgb(137, 143, 158);
}

.posted-on {
	margin-bottom: 0.125rem;
}

.author {
	display: inline-block;
	margin-right: 0.35rem;
	color: #c7c7c6;
	font-weight: 700;
}

.time {
	display: inline-block;
	opacity: 0.6;
	font-size: 0.85rem;
}

.logo {
	width: 200px;
	height: 30px;
	margin: 5px;
}

.box {
	margin-top: 50px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	min-height: 100%;
	height: 100%;
}
.error {
	color: rgb(255, 99, 71);
	padding: 5px 0 5px 0;
}
.box-content,
.box-content-transparent {
	max-width: 800px;
	width: 100%;
	box-sizing: border-box;
	margin: 0px auto;
	padding: 2rem;
	color: rgb(137, 143, 158);
}
.box-content {
	background-color: rgba(40, 40, 40, 1) !important;
}
.box-content-sm {
	max-width: 450px;
}
.box-content:not(.box-content-inverse) {
	opacity:.90;
}
.box-content:not(.box-content-inverse):hover {
	opacity:1;
}
.box-content-inverse   {
	color: rgba(40, 40, 40, 1) !important;
	background-color: #d6d8d9 !important; /*rgb(182, 182, 181) !important;*/
}
.box-content-inverse-text, .box-content-inverse-text a {
	color: #000 !important;
}
.box-content-inverse-text a {
	text-decoration: underline;
}
.box-border {
	margin-top: 1rem;
	padding: 1.5rem;
	border: 1px solid #383838;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.box-border-sm {
	margin-top: 0.75rem;
	padding: 0.75rem;
}
h1 {
	text-align: center;
	color: rgb(220, 223, 228);
	font-weight: bold;
	font-size: 1.35rem;
	padding-bottom: 0.5rem;
}
h3 {
	text-align: center;
}
.label.label-square {
	min-width: 20px;
	min-height: 20px;
	color: #dfdfdf;
	display: inline-block;
	padding: 0.4em 0.6em 0.3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25em;
}
.label-empty {
	width: 20px;
}
.hint {
	color: rgb(92, 97, 109);
	min-height: 21px;
	box-sizing: border-box;
	margin: 0px;
	padding: 5px 0px;
	font: 0.85rem Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

.btn {
	cursor: pointer;
	color: white;
	background-color: #007bcb;
	width: 100%;
	/* font: 1rem "Helvetica Neue", arial, sans-serif; */
	border: 1px solid black;
}
.btn:visited {
	color: white;
	background: rgb(0, 123, 203);
}

.btn:active,
.btn:hover,
.btn:focus {
	color: white;
	background-color: #009aef !important;
}

.btn-group-sm > .btn,
.btn-sm {
	padding: 0.35rem;
}
.btn-sm {
	flex: 0 1 auto;
	width: auto;
}
.btn-open-in {
	padding-left: 10px;
	padding-right: 10px;
}

.btn-with-icon {
	text-align: left;
	vertical-align: middle;
}

.btn-with-icon .icon {
    margin: 0px 5px 5px 5px;
	transform: scale(1.6);
	vertical-align: middle;
}

.btn-with-icon .icon .octicon {
	fill:#fff;
}

.btn-with-icon .copy {
    padding: 0px 10px;
    flex-basis: 100%;
    font-size: 14px !important;
    font-weight: 500;
    text-align: left;
    white-space: normal;
	line-height: 1.42857143;
	vertical-align: middle
}

input.bg-dark:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 50px #1e1e1e inset; /* Change the color to your own background color */
	-webkit-text-fill-color: rgb(220, 223, 228);
}

input.bg-dark:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 50px #1e1e1e inset; /*your box-shadow*/
	-webkit-text-fill-color: rgb(220, 223, 228);
}

.bg-dark,
.bg-dark.form-control:focus {
	background: #1e1e1e !important;
	color: rgb(220, 223, 228) !important;
}
input.bg-dark:-webkit-autofill,
input.bg-dark:-internal-autofill-selected {
	background-color: #1e1e1e !important;
	color: rgb(220, 223, 228);
}

.btn-group {
	padding-top: 10px;
	box-sizing: border-box;
}

.form-wrapper {
	max-width: none;
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.form-wrapper div {
	flex: 0 0 auto;
}

/* .form-group {
  padding-top: 10px;
  box-sizing: border-box;
} */
.form-wrapper div {
	flex: 0 0 auto;
}

.mention {
	color: rgb(76, 114, 202);
	font-weight: 700;
}
span.related-codemark-file {
	color: rgb(137, 143, 158);
}
a.related-codemark-link {
	color: rgba(241, 241, 241, 0.8);
}
a.related-codemark-link:hover,
a.related-codemark-link:hover .related-codemark-file {
	color: #009aef !important;
	text-decoration: none;
}
.file, .repo {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.fileName {
	max-width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}
.at-mention {
	color: #009aef;
}
.at-mention.me {
	background: #009aef;
	color: #efefef;
	border-radius: 8px;
	padding: 1px 4px 1px 4px;
}
.description {
	color: rgba(241, 241, 241, 0.8);
}
.description p {
	display: inline-block !important;
}
.description code {
	color: #dfdfdf !important;
	border: 1px solid #464646;
	border-radius: 3px;
	white-space: pre;
	font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	background: rgba(210, 199, 199, 0.1);
	padding: 2px 5px;
}
.description pre.code-wrapper.prettyprint {
	width: 100%;
}
.title {
	padding-top: 5px;
	color: #c7c7c6;
	display: inline-block;
}
.subtitle {
	font-size:.9em;
}
.group-group {
	margin-left: 20px;
}
.code-control,
.code-control:hover,
.code-control:active,
.code-control:visited {
	padding: 0px;
	font-weight: 600;
	font-size: 1.4em;
	text-decoration: none !important;
	color: rgb(137, 143, 158);
}

.code-wrapper {
	background: rgba(0, 0, 0, 0.1);
	padding: 5px;
	border: 1px solid #383838;
	overflow-x: auto;
}

.code-wrapper .prettyprint {
	white-space: nowrap;
}
.code-wrapper::-webkit-scrollbar {
	width: 20px;
}

.code-wrapper::-webkit-scrollbar-thumb {
	background: #282828;
	border-radius: 0.2rem;
}
.code-wrapper:hover::-webkit-scrollbar-thumb {
	background: #383838;
}

.code-wrapper::-webkit-scrollbar-corner {
	background: #1e1e1e;
}
.code-wrapper::-webkit-scrollbar-track {
	background: #1e1e1e;
	border-radius: 0;
}

hr {
	border-color: #3c424e;
}
.ide-list:hover {
	background: transparent;
}
.ide-list {
	padding-top: 0px !important;
	vertical-align: top;
	border-top-left-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem;
}
.dropdown-menu a {
	color: #c7c7c6;
}
.monospace {
	font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	font-size: 0.85em;
	white-space: nowrap;
}
.ide-list a:hover,
.dropdown-menu a:hover {
	text-decoration: none;
}
.icon-ide {
	width: 20px;
	margin: 0px 7px 2px 0px;
	border: 0px;
	border-radius: 2px;
}
.label-for-btn {
	display: inline-block;
	line-height: 1.4em;
	margin-top: 8px;
}

@media (min-width: 1px) {
	.btn-block-wrap {
		width: 100%;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.btn-block-wrap {
		width: 100%;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.btn-block-wrap {
		max-width: inherit;
		width: inherit;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.btn-block-wrap {
		max-width: inherit;
		width: inherit;
	}
}

.ide-list .dropdown-toggle-split {
	padding-top: 0.5rem;
	padding-left: 0.4rem;
	border-left: 1px solid #383838;
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
	max-width: 30px;
	width: 25px;
	min-width: 25px;
}
.dropdown-menu {
	background: #2c2c2c;
	border: 1px solid #383838;
}
.alert {
	border-radius: 0;
	color: #333;
}
.alert a {
	color: #333;
	font-weight: bold;
	text-decoration: underline;
}
.dropdown-divider {
	border-top: 1px solid #383838;
}
a.dropdown-item:hover {
	color: white;
	background: #0087d7;
}
span.dropdown-item {
	color: #c7c7c6;
}
span.dropdown-item:hover {
	color: #c7c7c6;
	background: initial;
}
.navbar {
	margin:10px 0px;
}
.navbar-toggler {
	border: 0;
}
.navbar-dark.bg-dark {
	background: #1e1e1e !important;
}
.form-control {
	border: 1px solid #383838 !important;
}
.lines-added {
	color: #66aa66;
}
.lines-deleted {
	color: #cc3366;
}

.radio-group {
	margin-top: 12px;
}

.radio {
	background-color: #7f7f7f;
}

.radio-group label {
	padding-left: 3px;
}

.radio:hover {
	cursor: pointer;
}

.special-text {
	color: #009aef;
	font-size: 1.3rem;
	padding-bottom: 10px;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: rgba(62, 60, 60, 1);
  }
  100% {
    background: rgba(40, 40, 40, 1);
  }
}
@keyframes color-change-2x {
  0% {
    background: rgba(62, 60, 60, 1);
  }
  100% {
    background: rgba(40, 40, 40, 1);
  }
}
.anm8-scrollIntoView{    
    background-image:none !important; 
    -webkit-animation: color-change-2x 2s linear alternate both;
	  animation: color-change-2x 2s linear alternate both;
}

/* Pretty printing styles. Used with prettify.js. */
/* Visual Studio Code - Monaco theme by Alex Rodin, based on Vim sunburst theme by David Leibovic */
pre.prettyprint {
	border: 0px !important;
}

pre .com,
code .com {
	color: #6a9955;
}

/* comment */
pre .str,
code .str {
	color: #ce9178;
}

/* string */
pre .atv,
code .atv {
	color: #ce9178;
}

/* html/xml attribute value */
pre .kwd,
code .kwd {
	color: #c586c0;
}

/* keyword */
pre .typ,
code .typ {
	color: #4ec9b0;
}

/* type */
pre .tag,
code .tag {
	color: #569cd6;
}

/* html/xml tag */
pre .atn,
code .atn {
	color: #9cdcfe;
}

/* html/xml attribute name*/
pre .pun,
code .pun {
	color: #d4d4d4;
}

/* punctuation*/
pre .pln,
code .pln {
	color: #9cdcfe;
}

/* plaintext*/
pre .lit,
code .lit {
	color: #b5cea8;
}

/* literal */
pre .dec,
code .dec {
	color: #4ec9b0;
}

/* decimal*/

pre.prettyprint,
code.prettyprint {
	border: 0;
	border-radius: 3px;
	color: #bbb;
	background-color: rgba(0, 0, 0, 0.1) !important;
	width: 95%;
}

pre.prettyprint {
	border: 1px solid #383838 !important;
	margin: 5px auto;
	padding: 5px;
	white-space: pre-wrap;
	font-family: Consolas, 'Courier New', monospace;
	font-size: 14px;
	line-height: 19px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
	margin-top: 0;
	margin-bottom: 0;
	color: #5a5a5a;
}

/* IE indents via margin-left */
pre.prettyprint li {
	padding-left: 5px;
}

li.L0,
li.L1,
li.L2,
li.L4,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
	background: none !important;
	list-style-type: inherit !important;
}

@media print {
	pre .str,
	code .str {
		color: #ce9178;
	}

	pre .kwd,
	code .kwd {
		color: #c586c0;
	}

	pre .com,
	code .com {
		color: #6a9955;
	}

	pre .typ,
	code .typ {
		color: #4ec9b0;
	}

	pre .lit,
	code .lit {
		color: #b5cea8;
	}

	pre .pun,
	code .pun {
		color: #d4d4d4;
	}

	pre .pln,
	code .pln {
		color: #000;
	}

	pre .tag,
	code .tag {
		color: #569cd6;
	}

	pre .atn,
	code .atn {
		color: #9cdcfe;
	}

	pre .atv,
	code .atv {
		color: #ce9178;
	}
}
