
#desc# broadcaster playground

#playgroundName# bc
#sandboxTypes# broadcast
#sandboxes# {{SBNAME_broadcast}}
#environment# local

dt_load {{SBNAME_broadcast}}
if [ "$1" == start ]; then
	cs_broadcaster-service start
elif [ "$1" == stop ]; then
	cs_broadcaster-service stop
fi
cd $CS_BROADCASTER_TOP

# uncomment these if you use iterm2 and want to colorize your tabs
# . $DT_TOP/lib/iterm2-utils.sh
# it2_tab_rgb `basename ${BASH_SOURCE[0]}` 200 88 45
