<!DOCTYPE html>
<html>

<head>
    <title>CodeStream</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://app.codestream.com/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://app.codestream.com/favicon-16x16.png" />
    <link rel="stylesheet" href="/web/styles/web.css?_={{version}}" />
</head>
<body>
    <div id="root">
        <div class="root-inner">
            <div class="logo-wrapper">
                <img class="logo" src="https://app.codestream.com/static/media/logo.537e3780.png" />
            </div>
            <div class="box">
                <div class="box-content box-content-sm">
                    <div class="box-border">
                        <h1>Sorry, we couldn't find what you were looking for</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>