<!DOCTYPE html>
<html>

<head>
	<title>CodeStream</title>
	{{> partial_html_head partial_html_head_model}}
</head>

<body>
	{{> partial_menu partial_menu_model}}
	<div class="container-fluid" id="root">
		<div class="row">
			<div class="col-sm-6 offset-sm-3">
				<div class="box-content box-border box-border-sm">
					<h1>Host URL</h1>
					<div class="form-group">
						<p>
							Enter the URL you use to access your Okta account.
						</p>
					</div>
					<br />
					<div class="form-wrapper">
						<form action="/web/provider-auth/okta">
							{{#if error}}
							<div class="form-group">
								<div class="error" style="width:100%;">{{error}}</div>
							</div>
							{{/if}}

							<input type="hidden" name="_csrf" value="{{csrf}}" />
							<input type="hidden" name="url" value="{{url}}" />
							<div class="form-group">
								<label class="label">Host URL</label>
								<input class="form-control bg-dark" name="hostUrl"
									placeholder="https://myorg.okta.com" autocomplete="off" autofocus />
							</div>
							<div class="form-group">
								<input type="submit" value="OK" class="btn" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>