<!DOCTYPE html>
<html>

<head>
    <title>CodeStream</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://app.codestream.com/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://app.codestream.com/favicon-16x16.png" />
    <link rel="stylesheet" href="/no-auth/web/styles/web.css?_={{version}}" />
    <script>
        history.pushState(null, "CodeStream", location.href.split("?")[0]);
    </script>
</head>

<body>
    <div id="root">
        <div class="root-inner">
            <div class="logo-wrapper">
                <img class="logo" src="https://app.codestream.com/static/media/logo.537e3780.png" />
            </div>
            <div class="box">
                <div class="box-content box-content">
                    <div class="box-border">
                      <h1>All Set!</h1>
                      <h3>You can now head back to your editor and start using CodeStream.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>