<!DOCTYPE html>
<html>

<head>
	<title>CodeStream</title>
	{{> partial_html_head partial_html_head_model}}
</head>

<body>
	{{> partial_menu partial_menu_model}}
	<div class="container-fluid" id="root">
		<div class="row">
			<div class="col-sm-6 offset-sm-3">
				<div class="box-content box-border box-border-sm">
					<h1>Set Password</h1>
					<div class="form-group">
						<p>Enter a new password for {{email}}.</p>
					</div>
					<br />
					<div class="form-wrapper">
						<form method="post">
							{{#if error}}
							<div class="form-group">
								<div class="error" style="width:100%;">{{error}}</div>
							</div>
							{{/if}}

							<input type="hidden" name="token" value="{{token}}" />
							<input type="hidden" name="_csrf" value="{{csrf}}" />
							<div class="form-group">
								<label class="label">Password</label>
								<input class="form-control bg-dark" type="password" name="password"
									autocomplete="off" />
								<p class="hint">Must be >= 6 characters</p>
							</div>
							<div class="form-group">
								<input type="submit" value="Update Password" class="btn" />
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>

</html>