<!DOCTYPE html>
<html>
<head>
	<title>CodeStream</title>
	<link rel="icon" type="image/png" sizes="32x32" href="https://images.codestream.com/logos/cs-favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://images.codestream.com/logos/cs-favicon-16x16.png" />
	<link rel="stylesheet" href="/no-auth/web/styles/web.css?_={{version}}" />
	<script>
		history.pushState(null, "CodeStream", location.href.split("?")[0]);
	</script>
</head>
<body>
	<div id="root">
		<div class="root-inner">
			<div class="logo-wrapper">
				<img class="logo" src="https://images.codestream.com/logos/cs-banner-1764x272.png" />
			</div>
			<div class="box">
				<div class="box-content box-content-sm">
					<div class="box-border">
						<h1>Password Updated</h1>

						<div class="form-group">
							<p>Return to your IDE to sign into CodeStream.</p>
						</div>
						<br />						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
