
#desc# opadm playground installed with module

#playgroundName# opadm
#sandboxTypes# opadm
#sandboxes# {{SBNAME_opadm}}
#environment# {{CSSVC_ENV}}

dt_load {{SBNAME_opadm}}
cd $OPADM_TOP

if [ "$1" == start ]; then
	opadm-service start
elif [ "$1" == stop ]; then
	opadm-service stop
	sleep 3
fi

# uncomment these if you use iterm2 and want to colorize your tabs
# . $DT_TOP/lib/iterm2-utils.sh
# it2_tab_rgb `basename ${BASH_SOURCE[0]}` 200 28 45
