<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>CodeStream On-Prem</title>

	<!-- fonts -->
	<!-- <link rel="stylesheet" href="/s/css/animate.css"> -->
	<!-- <script defer src="/s/pkgs/fontawesome-all.min.js"></script> -->
	<script defer src="/s/fa/js/all.min.js"></script>

	<!-- <base href="/"> -->
	<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700'" crossorigin="anonymous"> -->
	<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="/s/fonts/SourceCodePro.css">
	<link rel="stylesheet" href="/s/fonts/OpenSans.css">
	<link rel="stylesheet" href="/s/fa/css/all.min.css">

	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="/s/bootstrap/css/bootstrap.min.css" />

	<link rel="stylesheet" href="/s/css/style.css" />
</head>
<body>
